/* .transmissonline{
    padding-left: 100px;
} */


.transmissonline__heading{
    align-items: center;
    text-align: center;
    color: #fad017;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 30px;
}


.transmissonline__button{
    margin-top: 20px;
    padding: 10px 15px;
    /* background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
    background-color: #5C0E2F;
    font-weight: 500;
    font-size: 17px;
    margin-left: 6%;
    color: #FEA981;
    font-weight: 600;
}
.transmissionline__image{
    width: 200px;
    height: 250px;
}